@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  background-color: #101828 ;
  font-family: "Poppins", sans-serif;
  color: white;
  font-optical-sizing: auto;
  font-style: normal;
}

@keyframes blob {
  0%   { transform: scale(1); }
  33%  { transform: scale(1.2); }
  66%  { transform: scale(0.8); }
  100% { transform: scale(1); }
}

/* ------------------------- */
/* 2️⃣ Create custom utility for animation */
/* ------------------------- */
@utility animate-blob {
  animation: blob 10s infinite ease-in-out;
}

@utility animate-blob-fast {
  animation: blob 6s infinite ease-in-out;
}

@utility animate-blob-slow {
  animation: blob 14s infinite ease-in-out;
}
